# .env
TELEGRAM_TOKEN= your_telegram_token_from_botFather
OLLAMA_HOST=http://host.docker.internal:11434  #http://ollama:11434    # <-- container name, not localhost!
GEMMA_MODEL=gemma:2b
PROXY_URL=socks5://host.docker.internal:9050 # to use the proxy as telegram is blocked in russia or from webshare an example http://pbioafwr:u8nvo6quoift@31.59.20.176:6754