# --extra-index-url https://download.pytorch.org/whl/cpu
# numpy<2.0.0
# torch==2.2.2+cpu
# sentence-transformers==2.7.0
python-telegram-bot[socks]==20.7
requests==2.31.0
python-dotenv==1.0.0
# chromadb==0.4.22
# langchain-text-splitters==0.2.2
# pypdf==4.2.0